<footer class="page-footer bg-color">
    <% if (theme.music.enable && theme.music.fixed) { %>
        <%- partial('_widget/music') %>
    <% } %>
    <div class="container row center-align"
     <% if (theme.time.enable) { %> 
        style="margin-bottom:15px !important"
         <% } else { %> 
            style="margin-bottom:0px !important"
        <% } %>
        >
        <% if (theme.FLS.enable) {  %>
            <%- partial('_widget/friendlinks') %>
        <% } %>        
        <div class="col s12 m8 l8 copy-right">        
        <% if (theme.footer.copy.enable) { %>
            <span><%- theme.footer.copy.text %></span><br>
        <% } else { %>
            Copyright&nbsp;&copy;
            <% if (theme.time.year !== new Date().getFullYear()) { %>
                <span id="year"><%- theme.time.year %>-<%- new Date().getFullYear() %></span>
            <% } else { %>
                <span id="year"><%- theme.time.year %></span>
            <% } %>            
            <a href="<%- url_for('/about') %>" target="_blank"><%- config.author %></a><br>
        <% } %> 
        
        <% if (theme.footer.powered ) { %>
            Powered by&nbsp;<a href="https://hexo.io/" target="_blank">Hexo</a>&nbsp;|&nbsp;Theme&nbsp;<a href="https://github.com/blinkfox/hexo-theme-matery" target="_blank">Matery</a>
            <br>
        <% } %>
            <% if (theme.postInfo.totalCount) { %>
                &nbsp;<i class="fas fa-chart-area"></i>&nbsp;<%- __('siteTotalWords') %>:&nbsp;<span
                        class="white-color"><%= totalcount(site) %></span>
            <% } %>
            <% let socialClass = '' %>
            <% if (theme.busuanziStatistics && theme.busuanziStatistics.enable) { %>
                <% socialClass = 'social-statis' %>
            <% } %>
            <% if (theme.busuanziStatistics && theme.busuanziStatistics.totalTraffic) { %>
                <span id="busuanzi_container_site_pv">
                &nbsp;|&nbsp;<i class="far fa-eye"></i>&nbsp;<%- __('siteTotalVisits') %>:&nbsp;
                    <span id="busuanzi_value_site_pv" class="white-color"></span>
            </span>
            <% } %>
            <% if (theme.busuanziStatistics && theme.busuanziStatistics.totalNumberOfvisitors) { %>
                <span id="busuanzi_container_site_uv">
                &nbsp;|&nbsp;<i class="fas fa-users"></i>&nbsp;<%- __('siteTotalVisitors') %>:&nbsp;
                    <span id="busuanzi_value_site_uv" class="white-color"></span>
            </span>
            <% } %>
            <br>

            <!-- 运行天数提醒. -->
            <% if (theme.time.enable) { %>
                <span id="sitetime"> Loading ...</span>
                <%- js('js/footer') %>
            <% } %>
            <br>
            <% if (theme.footer.icp.enable) { %>
                <span id="icp"><img src="<%- theme.jsDelivr.url %><%- url_for('/medias/icp.png') %>"
                                    style="vertical-align: text-bottom;"/>
                <a href="<%- url_for(theme.footer.icp.url) %>" target="_blank"><%= theme.footer.icp.text %></a>
            </span>
            <% } %>
        </div>
        <div class="col s12 m4 l4 social-link <%- socialClass %>"><%- partial('_partial/social-link') %></div>
    </div>
</footer>
<div class="progress-bar"></div>