  <%- css('css/Waline') %>
  <div class="card waline-card" data-aos="fade-up">
    <div class="comment_headling" style="font-size: 20px; font-weight: 700; position: relative; padding-left: 20px; top: 15px; padding-bottom: 5px;">
        <i class="fas fa-comments fa-fw" aria-hidden="true"></i>
        <span>评论</span>
    </div>
    <div id="waline" class="card-content" style="display: grid">
    </div>
  </div>
  

  <!-- <script src="//cdn.jsdelivr.net/npm/@waline/client"></script> -->
  <script src="<%- theme.jsDelivr.url %><%- url_for(theme.libs.js.waline) %>"></script>
  <script>
    new Waline({
        el: '#waline',
        path: '<%- page.abbrlink %>',
        serverURL: '<%- theme.waline.serverURL %>',
        avatar: '<%- theme.valine.avatar %>'    
    });
  </script> 